<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="style.css">
    
</head>
<body>
    <form method="post" action="/register">
        <div>
          <label for="name">UserName</label>
          <input required name="username" id="name" type="text" />
        </div>
        <div>
          <label for="age">Age</label>
          <input required name="age" id="age" type="date" />
        </div>
        <div>
          <label for="email">Email</label>
          <input required name="email" id="email" type="email" />
        </div>
        <div>
          <label for="phone">phone number</label>
          <input required name="phone" id="phone" type="number" />
        </div>
        <input type="submit" value="submit">
      </form>
    
</body>
</html>