<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>hello</h1>
    <ol>
      <%users.map((user)=>{%>
      <li><%= user.phone %> <button type="button">detete</button>  <button type="button">update</button></li>
      <% }) %>
    </ol>
  </body>
</html>
